
<div class="container mt-4 title">
    <div class="row">
        <div class="col">
            <h1>
                    <i class="fa-solid fa-pen"></i> &nbsp;
                    Edit Contact Page
                </h1>

            <p style="text-align: justify;">
                This is dummy data: Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam atque ipsam quo
                dolores veritatis repellat omnis recusandae laborum explicabo! Sequi numquam facere corrupti adipisci
                sapiente dicta iste quibusdam culpa modi?Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Doloremque aspernatur iste nihil, velit adipisci omnis temporibus, enim aperiam, similique itaque quae
                architecto soluta nostrum cupiditate cum ab aut nam obcaecati!
            </p>

        </div>
    </div>


<!-- add contact form -->

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form class="border p-3 rouunded">
                <div class="mb-2">
                    <input placeholder="Name" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Photo URL" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Email Id" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Mobile Number" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Company" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <input placeholder="Title" type="text" class="form-control">
                </div>

                <div class="mb-2">
                    <select name="id" class="form-control">
                        <option value=""selected hidden disabled>Select a Group</option>
                        <option value="">Family</option>
                        <option value="">Friends</option>
                    </select>
                </div>
<div class="mb-2">
    <input value="Update" type="button" class="btn btn-success">
    <a routerLink="/" class="btn btn-warning ms-3">Close</a>
</div>
            </form>
        </div>
        <div class="col-md-4">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmAPeq1xFfv9zuMj-od5i_ybvJUHoB5MFf-A&usqp=CAU"
            alt="no image" class="contact_image">
        </div>
     </div>
   </div>
</div>